.skill{
    padding: 10px;

    color: #000000;
    font-size: 1.5vw;
    text-transform: uppercase;
    
}
.title{
  
    color: #000000;
    font-size: 2.5vw;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.title{
    margin-top: 35%;
}
.skills{
    margin-top: 15%;
}

@media screen and (max-width: 800px) {
    .title{
        margin-top: 45%;
    }
    .skills{
        margin-top: 25%;
    }
}
@media only screen and (max-width: 420px) {
    .skill{
        padding: 5px;
    }
}
@media only screen and (max-width: 800px) {
    .title{
        margin-top: 25%;
    }
    .skills{
        margin-top: 15%;
    }
    .skill{
        padding: 5px;
    }
}


/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .title{
        margin-top: 20%;
    }
    .skills{
        margin-top: 8%;
    }
    .skill{
        padding: 5px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .cover {
        top: 80vh;
    }
}