
.parallax {
    display: flex;
    justify-content: center;

    position: relative;
    background-image: url('../../assets/intro/sky.png');
    z-index: 5;
}

.moon {
    position: absolute;
    left: 50%;
    top: 70%;

    background: #F5D059;
    box-shadow: inset -15px 0px #EDC541;
    border-radius: 50%;

    width: 150px;
    height: 150px;
}

.mountain {
    width: 100vw;
    height: 150vh;
    z-index: 10;

    background: url('../../assets/intro/mountain.png') bottom / contain no-repeat;
    -moz-box-shadow: inset 0px 850px 500px -500px #fff;
    -webkit-box-shadow: inset 0px 850px 500px -500px #fff;
    -o-box-shadow: inset 0px 850px 500px -500px #fff;
    box-shadow: inset 0px -850px 500px -500px #fff;
}

h1 {
    position: absolute;
    top: 70%;

    color: #FFF;
    font-size: 3.8vw;
    text-shadow: 3px 2px #001200;
    text-transform: uppercase;
}
/* 
@media screen and (max-width: 800px) {
    .mountain {
        width: 100%;
        height: 90vh;
        box-shadow: inset 0px -650px 500px -500px #fff;
    }
    .moon {
        width: 100px;
        height: 100px;
        top: 80%;
    }
    h1 {
        top: 80%;
    }
}

@media only screen and (max-width: 420px) {
    .moon {
        width: 50px;
        height: 50px;
        top: 80%;
    }
} */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .mountain {
        width: 100%;
        height: 200vh;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .mountain {
        width: 100%;
        height: 90vh;
    }

} */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .mountain {
        width: 100%;
        height: 200vh;
    }
}

/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .mountain {
        width: 100%;
        height: 230vh;
        box-shadow: inset 0px -700px 500px -500px #fff;
    }
    .moon {
        width: 100px;
        height: 100px;
        top: 80%;
    }
    h1 {
        top: 80%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .mountain {
        width: 100%;
        height: 90vh;
        box-shadow: inset 0px -650px 500px -500px #fff;
    }
    .moon {
        width: 50px;
        height: 50px;
        top: 90%;
    }
    h1 {
        top: 90%;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .mountain {
        width: 100%;
        height: 90vh;
        box-shadow: inset 0px -650px 500px -500px #fff;
    }
    .moon {
        width: 50px;
        height: 50px;
        top: 90%;
    }
    h1 {
        top: 90%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .mountain {
        width: 100%;
        height: 200vh;
        box-shadow: inset 0px -650px 500px -500px #fff;
    }
    .moon {
        width: 50px;
        height: 50px;
        top: 80%;
    }
    h1 {
        top: 80%;
    }
}