.navigate{
    position: fixed;
    font-size: 2vw;
    transform: rotate(90deg);
    z-index: 1;
    top: 50%;
    margin-left: -20vh

}
html {
    scroll-behavior: smooth;
}

.tag1,
.tag2,
.tag3,
.tag4{
    text-decoration : none;
    color: black;
    
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    letter-spacing: 0.1em;
    
}

.tag1:hover,
.tag2:hover,
.tag3:hover,
.tag4:hover{
    text-decoration : underline;
}